@page "{urlShortGuid}"
@model IndexModel
@{
    ViewData["Title"] = "Urls Shortener";
}

<div class="container-fluid">
    <form>
        <div class="input-group">
            <input name="originalUrl" type="text" class="form-control" placeholder="Enter original url" aria-label="Enter original url" aria-describedby="create-short-url" id="originalUrl">
            <button class="btn btn-outline-secondary" type="button" id="create-short-url" onclick="createUrl()">Create short Url</button>
        </div>
        <div>
            <span id="originalUrlValidation" class="text-danger"></span>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Original Url</th>
                <th scope="col">Short url</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var url in Model.Urls!)
            {
                <tr id="@url.Id">
                    <td>@url.OriginalUrl</td>
                    <td>@url.ShortUrl</td>
                    <td><button type="button" onclick="deleteUrl('@url.Id')"><i class="bi bi-trash"></i></button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/url.js"></script>